connection_hostname: {{ targets.centos6 }}
remote_tmp_dir: '~root/.shift'
BASE: 
  ID: 
    user: 
      - name: 'user001'
      - name: 'user002'
        password: 'password'
        uid: 502
        group: 'root'
        home_dir: '/home/user002'
        shell: '/bin/bash'
        sub_groups: 'groupe001,groupe002'
    user_group: 
      - name: 'groupe001'
        gid: 503
      - name: 'groupe002'
    password_policy: 
      min_length: 1
      warn_age: 10

