{{ targets.centos6 }}:
  connection_hostname: {{ targets.centos6 }}
  operating_system: 'Linux'
  BASE: 
    ID: 
      user: 
        - name: 'user001'
        - name: 'user002'
          uid: 502
          group: 'root'
          home_dir: '/home/user002'
          shell: '/bin/bash'
          sub_groups: 'groupe001,groupe002'
      user_group: 
        - name: 'groupe001'
          gid: 503
        - name: 'groupe002'
      password_policy: 
        min_length: 1
        warn_age: 10
{{ targets.centos7 }}:
  connection_hostname: {{ targets.centos7 }}
  operating_system: 'Linux'
  BASE: 
    ID: 
      user: 
        - name: 'user001'
        - name: 'user002'
          uid: 502
          group: 'root'
          home_dir: '/home/user002'
          shell: '/bin/bash'
          sub_groups: 'groupe001,groupe002'
      user_group: 
        - name: 'groupe001'
          gid: 503
        - name: 'groupe002'
      password_policy: 
        min_length: 1
        warn_age: 10
