- :name: {{ targets.centos6 }}
  :roles:
     - 1-0001_Base
  :conn_user: root
  :conn_password: password
- :name: {{ targets.centos7 }}
  :roles:
     - 1-0001_Base
  :conn_user: root
  :conn_password: password
