connection_hostname: {{ targets.centos7 }}
remote_tmp_dir: '~root/.shift'
BASE: 
ADVANCED:
  logrotate_basic_option: 
    cycle: 'daily'
    rotate_num: 10
    create: True
    add_date: True
    compress: True
