connection_hostname: {{ targets.centos7 }}
remote_tmp_dir: '~root/.shift'
BASE: 
ADVANCED:
  logrotate_basic_option: 
    cycle: 'daily'
    rotate_num: 10
    create: False
    add_date: False
    compress: False
  logrotate_files: 
    - path: '/var/log/wtmp'
    - path: '/var/log/btmp'
