{{ targets.centos6 }}:
  connection_hostname: {{ targets.centos6 }}
  operating_system: 'Linux'
  BASE: 
  ADVANCED:
    logrotate_files: 
      - path: '/var/log/wtmp2'
      - path: '/var/log/btmp2'
{{ targets.centos7 }}:
  connection_hostname: {{ targets.centos7 }}
  operating_system: 'Linux'
  BASE: 
  ADVANCED:
    logrotate_files: 
      - path: '/var/log/wtmp2'
      - path: '/var/log/btmp2'
