{{ targets.centos6 }}:
  connection_hostname: {{ targets.centos6 }}
  operating_system: 'Linux'
  BASE: 
  ADVANCED:
    logrotate_basic_option: 
      cycle: 'daily'
      rotate_num: 10
      create: True
      add_date: True
      compress: True
{{ targets.centos7 }}:
  connection_hostname: {{ targets.centos7 }}
  operating_system: 'Linux'
  BASE: 
  ADVANCED:
    logrotate_basic_option: 
      cycle: 'daily'
      rotate_num: 10
      create: True
      add_date: True
      compress: True
