DEVICE={{ item.name }}
TYPE=Ethernet
ONBOOT=yes
NM_CONTROLLED=yes
BOOTPROTO=none
IPADDR={{ item.ip_addr.split("/")[0] }}
PREFIX={{ item.ip_addr.split("/")[1] }}
IPV4_FAILURE_FATAL=yes
IPV6INIT=yes
NAME="System {{ item.name }}"
